form {
  margin-top: 30px;
}

form .input-block + .input-block {
  margin-top: 20px;
}

form .input-block label {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  display: block;
}

form .input-group {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

form .input-group .input-block {
  margin-top: 0;
}

form .input-block input {
  width: 100%;
  height: 32px;
  font-size: 14px;
  color: #fff;
  border: 0;
  border-bottom: 1px solid #333;
  background: #202124;
}

form button[type=submit] {
  width: 100%;
  border: 0;
  margin-top: 30px;
  background: #EA80FC;
  border-radius: 2px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background 0.5s;
}

form button[type=submit]:hover {
  background: #B64FC8;
}